body {
  background-color: black;
  font-family: Inter, sans-serif;
}

.main {
  margin: auto;
  width: 550px;
  height: 868px;
  top: 960px;
  left: 73px;
  background-color: #23252C;
  border-radius: 0px;
}

.footer {
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #D5D4D8;
  border-radius: 0px 0px 10px 10px;
}

.footer-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-centered > a > img{
  width: 25px;
  height: 25px;
  margin-left:7px;
  margin-right:7px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.self-image {
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;
}

.info_rectangle {
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;
  background: #F5F5F5;
  text-align: center;
}

.info_rectangle_name {
  height: 25.81px;
  font-size: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color: #2B283A;
}

.info_rectangle_designation {
  height: 14.19px;
  font-size: 12.8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #F47D27;
}

.info_rectangle_email {
  height: 16px;
  font-size: 10.24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #4A4E74;
}

.info-buttons-email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;

  position: absolute;
  width: 115px;
  height: 34px;
  left: 151px;
  top: 469px;

  background: #FFFFFF;

  border: 1px solid #D1D5DB;
  box-sizing: border-box;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.info-buttons-linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;

  position: absolute;
  width: 115px;
  height: 34px;
  left: 283px;
  top: 469px;

  background: #297FE5;
  /* shadow/sm */

  border: 1px solid #297FE5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.info-buttons-email-text {
  position: static;
  width: 36px;
  height: 16px;
  left: 50.5px;
  top: 9px;

  /* text-sm/leading-4/font-medium */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */


  /* gray/700 */

  color: #374151;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.info-buttons-linkedin-text {
  position: static;
  width: 57px;
  height: 16px;
  left: 40px;
  top: 9px;

  /* text-sm/leading-4/font-medium */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */


  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}

.info-buttons-email-icon {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 20%;

  background: #1E1F26; 
}

.info-buttons-linkedin-icon {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;

  background: #FFFFFF;
}